html {
  cursor: url(https://vignette.wikia.nocookie.net/pro/images/8/82/Poring.gif/revision/latest?cb=20100302113131), pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transform: rotate(90deg);
  padding-top: 50vw;
}

.body {
  margin-top: 15vh;
  background-color: #ffb0f2;
  padding: 0 10px;
  border-color: white;
  border-width: 10px;
  border-style: dotted;
}

.body:hover {
  border-style: double;
}

.title {
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.background-title {
  position: absolute;
  top: 10vh;
  right: 0;
}

.background-title-h1 {
  margin: 0;
  color: #fff;
  text-shadow: 5px 6px 2px #ff00afa3;
  font-size: 10em;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.App-header {
  background-color:#ffb0f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ff00afa3;
  text-shadow: 5px 6px 2px #fff;
}
